.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

/**
 * Main: Logo
 */
main .logo {
  display: block;
  width: 100%;
}
main .logo img {
  margin: 0 auto;
}
