body {
font-family: sans-serif;
background-color: linen;

}

html {

}

nav ul {
    list-style-type: none;
    background-color: #b577b5;
    border: 4px solid black;
    border-radius: 10px;
    font-family: fantasy;
    font-weight: bold
    padding: 16px:
    text-align: center;
    
} 
nav ul li {
display: inline;
border-right: 2px solid black;
padding-right: 8px;
padding-left: 8px;
text-align: center;


}
nav ul li:last-child {
border-right: none;
}
nav ul li a {
text-decoration: none;
color: darkmagenta;
text-align: center;
}

